<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="4">
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Role</ion-label>
            <ion-select formControlName="role">
              <ion-select-option value="doctor">Doctor</ion-select-option>
              <ion-select-option value="patient">Patient</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button expand="block" type="submit" [disabled]="!registerForm.valid">Register</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
